<ion-header>
  <ion-toolbar>
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'album', item.id]">
      <ion-label text-wrap>
        <h3>{{ item.title }}</h3>
      </ion-label>
      <ion-badge color="tertiary" slot="end">{{item.id}}</ion-badge>
      <ion-badge color="light" slot="start">{{item.id}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-toolbar>
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
